<!-- Authors: Ayan Ahmad (K19002255), Kevin Quah (k1921877), Jae Min An (k19034574), Daniela Stanciu (k1922053), Mihaela Peneva (k19026170) -->

<div class="text-center container my-5 py-5 z-depth-1">
    <h1>Bank Jackal Online Banking</h1>
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    <hr>
        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6">

                <!-- Default form login -->

                <%= form_with(url: login_path, scope: :session, local: true, class: "text-center") do |f| %>
                
                <p class="h4 mb-4">Log In - Existing User</p>
                <%= f.text_field :username, class: 'form-control mb-4', placeholder: "Username" %>

                <%= f.password_field :password, class: 'form-control mb-4',  placeholder: "Password" %>

                <button class="btn btn-success btn-block my-4" type="submit">Sign in</button>
                <% end %>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->
</div>
<div class="row" style="height:100px">
</div>