<!-- Authors: Ayan Ahmad (K19002255), Kevin Quah (k1921877), Jae Min An (k19034574), Daniela Stanciu (k1922053), Mihaela Peneva (k19026170) -->

<label>Receiver</label>
<%= f.text_field(:receiver, class: 'mb-2 form-control' ) %>

<label>Amount</label>
<%= f.text_field(:amount, class: 'mb-2 form-control' ) %>

<label>Account ID</label>
<%= f.collection_select(:account_id, Account.all, :id, :accnumber,{}, class: 'mb-2 form-control' ) %>
