<!-- Authors: Ayan Ahmad (K19002255), Kevin Quah (k1921877), Jae Min An (k19034574), Daniela Stanciu (k1922053), Mihaela Peneva (k19026170) -->

<br>
<div class="alert alert-danger" role="alert">
    <strong>Holy guacamole!</strong> <%= @msg %>

</div>

<div class="row">
    <a href="/accounts"><button type="button" class="btn btn-primary">Take me to Safety!!</button></a>
</div>
<p style="height:100px"></p>