<!-- Authors: Ayan Ahmad (K19002255), Kevin Quah (k1921877), Jae Min An (k19034574), Daniela Stanciu (k1922053), Mihaela Peneva (k19026170) -->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Covid Support</li>
    </ol>
</nav>
<div class="container py-5 my-5 z-depth-1">
    <!--Section: Content-->
    <section class="text-center px-md-5 mx-md-5 dark-grey-text">

        <div class="row mb-5">
            <div class="col-md-4 mx-auto">
                <div class="view mb-4 pb-2">
                    <img src="https://mdbootstrap.com/img/illustrations/undraw_connected_world_wuay.svg" class="img-fluid" alt="smaple image">
                </div>
            </div>
        </div>

        <h3 class="font-weight-bold mb-4 pb-2">Coronavirus: help and support</h3>

        <p class="text-center mx-auto mb-4 pb-2">We’ve asked all our staff to work from home unless 
        it’s crucial that they come into the office. Remote working has always been a big part of
        working for Bank Jackal, so we’re very used to it.

<br>We’ve got multiple teams working on how we respond to this pandemic, so we can quickly
adapt to changing circumstances and keep supporting all our customers. </p>

        <a href="/login"><button type="button" class="btn btn-deep-purple btn-rounded">Login to my Account</button></a>

    </section>
    <!--Section: Content-->
</div>