<!-- Authors: Ayan Ahmad (K19002255), Kevin Quah (k1921877), Jae Min An (k19034574), Daniela Stanciu (k1922053), Mihaela Peneva (k19026170) -->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Credit Cards</li>
    </ol>
</nav>

<!--Section: Content-->
<section class="dark-grey-text">

    <!-- Section heading -->
    <h3 class="text-center font-weight-bold mb-4 pb-2">Our Premium Credit Cards</h3>
    <hr class="w-header">
    <!-- Section description -->
    <p class="lead text-center w-responsive mx-auto text-muted mt-4 pt-2 mb-5">Cards include various options for customizing the cashback plan, design and payment cycle.</p>

    <!--First row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-6 mb-4">

            <!-- Card -->
            <a href="#!" class="card hoverable">

                <!-- Card content -->
                <div class="card-body">

                    <p><i class="fas fa-credit-card fa-3x text-primary"></i></p>
                    <h5 class="dark-grey-text my-4">Jackal Club</h5>
                    <p class="text-muted font-weight-light mb-0">
                    Representative example:<br>
Representative rate: 31.9% APR (variable)<br>
Purchase rate p.a.: 31.9% (variable)<br>
Based on credit limit of: £1,100<br>

</p>

                </div>

            </a>
            <!-- Card -->

        </div>
        <!--First column-->

        <!--Second column-->
        <div class="col-md-6 mb-4">

            <!-- Card -->
            <a href="#!" class="card hoverable">

                <!-- Card content -->
                <div class="card-body">

                    <p><i class="fas fa-credit-card fa-3x text-warning"></i></p>
                    <h5 class="dark-grey-text my-4">Jackal Creme Noir</h5>
                    <p class="text-muted font-weight-light mb-0">
                    Representative example:<br>
Representative rate: 22.9% APR (variable)<br>
Purchase rate p.a.: 22.9% (variable)<br>
Based on credit limit of: £1,300<br>
</p>

                </div>

            </a>
            <!-- Card -->

        </div>
        <!--Second column-->

    </div>
    <!--First row-->

</section>
<div class="row" style="height:100px">
</div>